 .u-section-1 {
  background-image: none;
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('images/J4o.gif');
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1074px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 71px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 62px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 237px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-group-1 {
  min-height: 167px;
  --radius: 4px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: linear-gradient(black, #292e33);
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 13px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 42px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 237px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-group-2 {
  min-height: 168px;
  --radius: 4px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: linear-gradient(black, #292e33);
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 10px 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 36px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 237px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-group-3 {
  min-height: 167px;
  --radius: 4px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: linear-gradient(black, #292e33);
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 11px 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 40px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 712px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-2 .u-group-4 {
  min-height: 576px;
  --radius: 8px;
  margin: 37px auto 0;
}

.u-section-2 .u-image-1 {
  width: 370px;
  height: 563px;
  transition-duration: 0.5s;
  --radius: 4px;
  box-shadow: 5px 5px 20px 0 rgba(234,253,252,0.4);
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 2px -2px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 240px;
  height: 55px;
  --radius: 4px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -549px auto 0;
}

.u-section-2 .u-group-elements-1 {
  width: 331px;
  min-height: 397px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 7px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 112px 0 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  text-transform: none;
  transition-duration: 0.5s;
  font-weight: 400;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 43px auto 0;
  padding: 8px 18px 8px 17px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 237px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-group-5 {
  min-height: 168px;
  --radius: 4px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: linear-gradient(black, #292e33);
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 9px 0 0;
}

.u-section-2 .u-text-11 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 31px 0 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 237px;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-group-6 {
  min-height: 167px;
  --radius: 4px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: linear-gradient(black, #292e33);
}

.u-section-2 .u-text-12 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 9px 0 0;
}

.u-section-2 .u-text-13 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 32px 0 0;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 237px;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px;
}

.u-section-2 .u-group-7 {
  min-height: 167px;
  --radius: 4px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: linear-gradient(black, #292e33);
  margin: 0 auto;
}

.u-section-2 .u-text-14 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 7px 0 0;
}

.u-section-2 .u-text-15 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 31px 11px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 195px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 195px;
  }

  .u-section-2 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 195px;
  }

  .u-section-2 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 819px;
  }

  .u-section-2 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    width: 307px;
    height: 467px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 225px;
    height: 51px;
    margin-top: -453px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 307px;
    margin-top: 11px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 195px;
  }

  .u-section-2 .u-group-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 195px;
  }

  .u-section-2 .u-group-6 {
    height: auto;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 195px;
  }

  .u-section-2 .u-group-7 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-group-5 {
    margin-bottom: -5px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-group-6 {
    margin-bottom: -6px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-group-7 {
    margin-bottom: -6px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: -14px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-group-2 {
    margin-bottom: -14px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-group-3 {
    margin-bottom: -14px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-9 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-group-5 {
    margin-bottom: -13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-11 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-group-6 {
    margin-bottom: -14px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-group-7 {
    margin-bottom: -14px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-2 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-3 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-4 {
    margin-bottom: -6px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-5 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-6 {
    margin-bottom: 0;
  }

  .u-section-2 .u-group-7 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-block-a49e-51:not([data-block-selected]):not([data-cell-selected]),
.u-block-a49e-51:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-a49e-51:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-a49e-51:not([data-block-selected]):not([data-cell-selected]).u-block-a49e-51:not([data-block-selected]):not([data-cell-selected]).u-block-a49e-51:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-a49e-51:not([data-block-selected]):not([data-cell-selected]).u-block-a49e-51:not([data-block-selected]):not([data-cell-selected]).u-block-a49e-51:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before,
.u-section-2 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-2.u-image-2.u-image-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-2 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-group-1,
.u-section-2 .u-group-1:before,
.u-section-2 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-group-1.u-group-1.u-group-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-1.u-group-1.u-group-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-2,
.u-section-2 .u-group-2:before,
.u-section-2 .u-group-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-group-2.u-group-2.u-group-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-2.u-group-2.u-group-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-3,
.u-section-2 .u-group-3:before,
.u-section-2 .u-group-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-group-3.u-group-3.u-group-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-3.u-group-3.u-group-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-5,
.u-section-2 .u-group-5:before,
.u-section-2 .u-group-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-group-5.u-group-5.u-group-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-5.u-group-5.u-group-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-6,
.u-section-2 .u-group-6:before,
.u-section-2 .u-group-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-group-6.u-group-6.u-group-6:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-6.u-group-6.u-group-6.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-7,
.u-section-2 .u-group-7:before,
.u-section-2 .u-group-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-group-7.u-group-7.u-group-7:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-7.u-group-7.u-group-7.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before,
.u-section-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-1 {
  border-color: transparent !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 2136px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 109px 0 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  margin-top: 57px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15.5px));
  min-height: 2584px;
  grid-auto-columns: calc(50% - 15.5px);
  grid-gap: 31px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 26px 30px;
}

.u-section-3 .u-text-2 {
  margin: 21px auto 0;
}

.u-section-3 .u-icon-1 {
  font-size: 2.4em;
  vertical-align: -8px;
  margin-right: 6px;
}

.u-section-3 .u-image-1 {
  width: 303px;
  height: 223px;
  transition-duration: 0.5s;
  --radius: 10px;
  box-shadow: 0px 0px 8px 0px rgba(204,211,219,1);
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  font-weight: 400;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 66px 4px 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 26px 30px;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 21px auto 0;
}

.u-section-3 .u-icon-2 {
  font-size: 2em;
  margin-right: 6px;
}

.u-section-3 .u-image-2 {
  width: 303px;
  height: 223px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 8px 0px rgba(204,211,219,1);
  --radius: 10px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 20px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  font-weight: 400;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 66px 4px 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 26px 30px;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  margin: 21px auto 0;
}

.u-section-3 .u-icon-3 {
  font-size: 2em;
  margin-right: 6px;
}

.u-section-3 .u-image-3 {
  width: 303px;
  height: 223px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 8px 0px rgba(204,211,219,1);
  --radius: 10px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 20px auto 0;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  font-weight: 400;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 66px 4px 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 26px 30px;
}

.u-section-3 .u-text-8 {
  font-weight: 400;
  margin: 21px auto 0;
}

.u-section-3 .u-icon-4 {
  font-size: 2.7em;
  margin-right: 6px;
}

.u-section-3 .u-image-4 {
  width: 303px;
  height: 223px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 8px 0px rgba(204,211,219,1);
  --radius: 10px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 20px auto 0;
}

.u-section-3 .u-text-9 {
  font-size: 1rem;
  font-weight: 400;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 66px 4px 0;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 26px 30px;
}

.u-section-3 .u-text-10 {
  font-weight: 400;
  margin: 21px auto 0;
}

.u-section-3 .u-icon-5 {
  font-size: 2.7em;
  margin-right: 6px;
}

.u-section-3 .u-image-5 {
  width: 303px;
  height: 223px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 8px 0px rgba(204,211,219,1);
  --radius: 10px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 20px auto 0;
}

.u-section-3 .u-text-11 {
  font-size: 1rem;
  font-weight: 400;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 66px 4px 0;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 26px 30px;
}

.u-section-3 .u-text-12 {
  font-weight: 400;
  margin: 21px auto 0;
}

.u-section-3 .u-icon-6 {
  font-size: 2.7em;
  margin-right: 6px;
}

.u-section-3 .u-image-6 {
  width: 303px;
  height: 223px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 8px 0px rgba(204,211,219,1);
  --radius: 10px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 20px auto 0;
}

.u-section-3 .u-text-13 {
  font-size: 1rem;
  font-weight: 400;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 66px 4px 0;
}

.u-section-3 .u-list-item-7 {
  background-image: none;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 26px 30px;
}

.u-section-3 .u-text-14 {
  font-weight: 400;
  margin: 21px auto 0;
}

.u-section-3 .u-icon-7 {
  font-size: 2.7em;
  margin-right: 6px;
}

.u-section-3 .u-image-7 {
  width: 303px;
  height: 223px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 8px 0px rgba(204,211,219,1);
  --radius: 10px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 20px auto 0;
}

.u-section-3 .u-text-15 {
  font-size: 1rem;
  font-weight: 400;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 66px 4px 0;
}

.u-section-3 .u-list-item-8 {
  background-image: none;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 26px 30px;
}

.u-section-3 .u-text-16 {
  font-weight: 400;
  margin: 21px auto 0;
}

.u-section-3 .u-icon-8 {
  font-size: 2.7em;
  margin-right: 6px;
}

.u-section-3 .u-image-8 {
  width: 303px;
  height: 223px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 8px 0px rgba(204,211,219,1);
  --radius: 10px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 20px auto 0;
}

.u-section-3 .u-text-17 {
  font-size: 1rem;
  font-weight: 400;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 66px 4px 0;
}

.u-section-3 .u-list-item-9 {
  background-image: none;
}

.u-section-3 .u-container-layout-9 {
  padding: 0 26px 30px;
}

.u-section-3 .u-text-18 {
  font-weight: 400;
  margin: 21px auto 0;
}

.u-section-3 .u-icon-9 {
  font-size: 2.7em;
  margin-right: 6px;
}

.u-section-3 .u-image-9 {
  width: 303px;
  height: 223px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 8px 0px rgba(204,211,219,1);
  --radius: 10px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 20px auto 0;
}

.u-section-3 .u-text-19 {
  font-size: 1rem;
  font-weight: 400;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 66px 4px 0;
}

.u-section-3 .u-list-item-10 {
  background-image: none;
}

.u-section-3 .u-container-layout-10 {
  padding: 0 26px 30px;
}

.u-section-3 .u-text-20 {
  font-weight: 400;
  margin: 21px auto 0;
}

.u-section-3 .u-icon-10 {
  font-size: 2.7em;
  margin-right: 6px;
}

.u-section-3 .u-image-10 {
  width: 303px;
  height: 223px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 8px 0px rgba(204,211,219,1);
  --radius: 10px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 20px auto 0;
}

.u-section-3 .u-text-21 {
  font-size: 1rem;
  font-weight: 400;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 66px 4px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 31px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 2140px;
  }

  .u-section-3 .u-image-1 {
    height: 180px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    height: 180px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-3 {
    height: 180px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-4 {
    height: 180px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-5 {
    height: 180px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-6 {
    height: 180px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-7 {
    height: 180px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-8 {
    height: 180px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-9 {
    height: 180px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-10 {
    height: 180px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: 1255px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -1199px;
    margin-bottom: -957px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-image-1 {
    height: 288px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 288px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 288px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 288px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    height: 288px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    height: 288px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-7 {
    height: 288px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-8 {
    height: 288px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-9 {
    height: 288px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-10 {
    height: 288px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 1031px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -975px;
    margin-bottom: -829px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 224px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 224px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 224px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 224px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    height: 224px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    height: 224px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-7 {
    height: 224px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-8 {
    height: 224px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-9 {
    height: 224px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-10 {
    height: 224px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-top: 879px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -938px;
    margin-bottom: -677px;
  }

  .u-section-3 .u-image-1 {
    height: 138px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 138px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 138px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 138px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    height: 138px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    height: 138px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-7 {
    height: 138px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-8 {
    height: 138px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-9 {
    height: 138px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-10 {
    height: 138px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before,
.u-section-3 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-3 .u-image-1 {
  border-color: transparent !important;
}

.u-section-3 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-3 .u-image-1 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-image-1 {
  opacity: 1 !important;
}

.u-container-layout.hover > .u-section-3 .u-image-1 {
  opacity: 1 !important;
}

.u-section-3 .u-image-2,
.u-section-3 .u-image-2:before,
.u-section-3 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-3 .u-image-2 {
  border-color: transparent !important;
}

.u-section-3 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-3 .u-image-2 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-image-2 {
  opacity: 1 !important;
}

.u-container-layout.hover > .u-section-3 .u-image-2 {
  opacity: 1 !important;
}

.u-section-3 .u-image-3,
.u-section-3 .u-image-3:before,
.u-section-3 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-3 .u-image-3 {
  border-color: transparent !important;
}

.u-section-3 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-3 .u-image-3 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-image-3 {
  opacity: 1 !important;
}

.u-container-layout.hover > .u-section-3 .u-image-3 {
  opacity: 1 !important;
}

.u-section-3 .u-image-4,
.u-section-3 .u-image-4:before,
.u-section-3 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-4.u-image-4.u-image-4:hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-3 .u-image-4 {
  border-color: transparent !important;
}

.u-section-3 .u-image-4.u-image-4.u-image-4.hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-3 .u-image-4 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-image-4 {
  opacity: 1 !important;
}

.u-container-layout.hover > .u-section-3 .u-image-4 {
  opacity: 1 !important;
}

.u-section-3 .u-image-5,
.u-section-3 .u-image-5:before,
.u-section-3 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-5.u-image-5.u-image-5:hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-3 .u-image-5 {
  border-color: transparent !important;
}

.u-section-3 .u-image-5.u-image-5.u-image-5.hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-3 .u-image-5 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-image-5 {
  opacity: 1 !important;
}

.u-container-layout.hover > .u-section-3 .u-image-5 {
  opacity: 1 !important;
}

.u-section-3 .u-image-6,
.u-section-3 .u-image-6:before,
.u-section-3 .u-image-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-6.u-image-6.u-image-6:hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-3 .u-image-6 {
  border-color: transparent !important;
}

.u-section-3 .u-image-6.u-image-6.u-image-6.hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-3 .u-image-6 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-image-6 {
  opacity: 1 !important;
}

.u-container-layout.hover > .u-section-3 .u-image-6 {
  opacity: 1 !important;
}

.u-section-3 .u-image-7,
.u-section-3 .u-image-7:before,
.u-section-3 .u-image-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-7.u-image-7.u-image-7:hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-3 .u-image-7 {
  border-color: transparent !important;
}

.u-section-3 .u-image-7.u-image-7.u-image-7.hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-3 .u-image-7 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-image-7 {
  opacity: 1 !important;
}

.u-container-layout.hover > .u-section-3 .u-image-7 {
  opacity: 1 !important;
}

.u-section-3 .u-image-8,
.u-section-3 .u-image-8:before,
.u-section-3 .u-image-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-8.u-image-8.u-image-8:hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-3 .u-image-8 {
  border-color: transparent !important;
}

.u-section-3 .u-image-8.u-image-8.u-image-8.hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-3 .u-image-8 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-image-8 {
  opacity: 1 !important;
}

.u-container-layout.hover > .u-section-3 .u-image-8 {
  opacity: 1 !important;
}

.u-section-3 .u-image-9,
.u-section-3 .u-image-9:before,
.u-section-3 .u-image-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-9.u-image-9.u-image-9:hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-3 .u-image-9 {
  border-color: transparent !important;
}

.u-section-3 .u-image-9.u-image-9.u-image-9.hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-3 .u-image-9 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-image-9 {
  opacity: 1 !important;
}

.u-container-layout.hover > .u-section-3 .u-image-9 {
  opacity: 1 !important;
}

.u-section-3 .u-image-10,
.u-section-3 .u-image-10:before,
.u-section-3 .u-image-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-10.u-image-10.u-image-10:hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-3 .u-image-10 {
  border-color: transparent !important;
}

.u-section-3 .u-image-10.u-image-10.u-image-10.hover {
  transform: scale(1.3) translateX(0px) translateY(0px) !important;
  border-radius: 10px !important;
}

.u-section-3 .u-image-10 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-image-10 {
  opacity: 1 !important;
}

.u-container-layout.hover > .u-section-3 .u-image-10 {
  opacity: 1 !important;
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('images/range.svg');
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 822px;
}

.u-section-4 .u-text-1 {
  margin: 231px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 36px 0 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  text-transform: none;
  transition-duration: 0.5s;
  font-weight: 400;
  margin: 33px auto 60px;
  padding: 8px 54px 8px 53px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-4 .u-btn-1 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 519px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 389px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 245px;
  }
}

.u-section-4 .u-btn-1,
.u-section-4 .u-btn-1:before,
.u-section-4 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-btn-1 {
  border-color: transparent !important;
}